# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Blobby Volley World.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\lbeer\Projekte\Blobby Volley World\Blobby Volley World\.idea\.idea.Blobby Volley World\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
