# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Blobby_Volley_World_GitHub.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\Blobby_Volley_World_GitHub\.idea\.idea.Blobby_Volley_World_GitHub\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
